.comments {
  margin-top: 1em;
}
.comments .comment {
  margin-bottom: 0.5em;
}
.comments .comment .commentSurferAvatar {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.comments .comment .commentContainer {
  float: left;
}
.comments .comment .commentHeader,
.comments .comment .commentText {
  width: 33.1em;
}
.comments .comment .commentSurferName {
  float: left;
}
.comments .comment .commentTime {
  float: right;
  color: #8A8A8A;
}
.comments .comment .commentExtras .commentExtrasVotesScore,
.comments .comment .commentExtras .commentExtrasVoting {
  float: left;
  margin-right: 0.5em;
}
.comments .comment .commentExtras .commentExtrasReply {
  float: right;
}
.comments.indent {
  margin-top: 1em;
  margin-left: 1.5em;
}
.comments.indent .comment .commentHeader,
.comments.indent .comment .commentText {
  width: 31.6em;
}

.commentDialog fieldset {
  margin-top: 1em;
}
.commentDialogMessage {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}
.commentDialogField textarea {
  height: 5em;
}