.box .surfersListMessage {
  margin-top: 1em;
  margin-bottom: 1em;
}

.box ul.surfersList {
  list-style-type: none;
  margin-bottom: 1em;
}

.box ul.surfersList li {
 padding-left: 0;
}

.box ul.surfersList li .surferAvatar,
.box ul.surfersList li .surferDetails {
  display: block;
  float: left;
}

.box ul.surfersList li .surferName,
.box ul.surfersList li .surferLastTime {
  display: block;
}

.box ul.surfersList li .surferAvatar {
  margin-right: 0.5em;
}

.box ul.surfersList li .surferName {
  margin-top: 0.7em;
  font-size: 1.2em;
}

.box ul.surfersList li .surferCommand {
  margin-right: 0.7em;
}

.box .surfersListPaging {
  margin-bottom: 1em;
}

/**
* box group additional
*/
#pageAdditional .box ul.surfersList {
  margin: 0;
}

#pageAdditional .box ul.surfersList li {
  margin: 0;
}

#pageAdditional .box ul.surfersList li .surferAvatar {
  margin-right: 1em;
  margin-bottom: 1em;
}

#pageAdditional .box ul.surfersList li .surferName {
  margin-top: 0;
  font-size: 1em;
  width: 7.5em;
}