/*
 CSS rules for ACommunitySurferPage
*/
#content .surferPage .surferAvatar {
  float: left;
  margin-right: 1em;
  margin-bottom: 0.8em;
}
#content .surferPage .surferEmail {
  font-size: 0.87em;
}
#content .surferPage .surferGender {
  float: left;
  margin-right: 0.5em;
}
#content .surferPage .surferStatus,
#content .surferPage .surferContact {
  margin-top: 1.2em;
}
#content .surferPage .surferDetailsGroup {
  float: left;
  width: 200px;
  margin-right: 0.5em;
}

/*
 CSS rules for ACommunitySurfersListPage
*/
#content .surfersMessage {
  margin-top: 1em;
  margin-bottom: 1em;
}
#content ul.surfers {
  list-style-type: none;
  margin-bottom: 1em;
}
#content ul.surfers li {
 padding-left: 0 !important;
 background: none !important;
}
#content ul.surfers li .surferAvatar,
#content ul.surfers li .surferDetails {
  display: block;
  float: left;
}
#content ul.surfers li .surferName,
#content ul.surfers li .surferLastTime {
  display: block;
}
#content ul.surfers li .surferAvatar {
  margin-right: 0.5em;
}
#content ul.surfers li .surferName {
  margin-top: 0.7em;
  font-size: 1.2em;
}
#content ul.surfers li .surferCommand {
  margin-right: 0.7em;
}
#content .surfersPaging {
  margin-bottom: 1em;
}

/*
 CSS rules for ACommunityMessagesPage
*/
#content .messageDialog {
  margin-bottom: 1.5em;
}
#content .messageDialog #dialogMessageText {
  height: 5em;
}

#content .messageEntry {
  margin-bottom: 0.5em;
}
#content .messageEntry .messageSurferAvatar {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
#content .messageEntry .messageContainer {
  float: left;
}
#content .messageEntry .messageHeader,
#content .messageEntry .messageText {
  width: 33.1em;
}
#content .messageEntry .messageSurferName {
  float: left;
}
#content .messageEntry .messageTime {
  float: right;
  color: #8A8A8A;
}

/*
 CSS rules for ACommunityNotificationSettingsPage
*/
#content .dialogNotficationSettingsField label {
  float: left;
  width: 17em;
}
#content .dialogNotficationSettingsField input {
  margin-left: 0.8em;
}